
body, html {
    font-size: %font_size%px;
    background: none;
}

html {
    background: #000000;
}

body.am-page-login {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

body.am-page-login .am-layout {
    flex: 1;
}
body.am-page-login .am-footer {
    height: auto;
}

.am-common {
    font-family: '%font_family%', san-serif;
    color: #9f9f9f;
}

.am-common legend {
    color: #9f9f9f;
}

.am-common a {
    color: %link_color%;
    text-decoration-color: %link_color%99;
}

.ajax-link, .local-link, .local {
    text-decoration-color: %link_color%99;
}

.am-layout {
    min-height: initial;
    margin: 0;
    background: none;
}

.am-header {
    background: #141414;
}

.am-header .am-header-content-wrapper {
    border: none;
    background: none;
}

.am-header-line {
    border:none;
    background: none;
}

ul.am-header-menu a {
    color: #898989;
}

ul.am-header-menu ul a {
    color: #898989;
}

ul.am-header-menu > li > a::after {
    background: #898989;
    opacity: .4;
}

ul.am-header-menu li ul {
    background: #353535;
}

.am-footer .am-footer-content-wrapper {
    background: none;
    color: inherit;
    height: auto;
}

.am-footer-content-content {
    padding: 1em 0;
}

.am-footer-text {
    text-align: center;
}

.am-footer .am-footer-content .am-footer-sm a {
    color: %sm_color%;
    font-size: %sm_size%px;
}

.am-body {
    background: none;
}

.am-body .am-body-content-wrapper {
    border: none;
    box-shadow: none;
    border-radius: 0;
    background: none;
}

.am-body-content {
    min-height: 300px;
}

.am-header-content-wrapper {
    padding: 0;
}

.am-header-content-content {
    display: none;
}

.am-header .am-header-content .am-header-content-logo {
    float: none;
    margin: 0;
}

.am-header .am-header-content {
    text-align: %logo_align%;
}

.am-main {
    max-width: %max_width%px;
}

.am-header-content img {
    width: %logo_width%;
}

.am-footer-actions {
    display:none;
}

.am-footer .am-footer-content-wrapper {
    color: #9f9f9f;
    font-size:.8rem;
}

.am-info {
    background: #141414;
    border: 1px solid #222;
}

.am-user-identity-block {
    float: %identity_align%;
}

.am-page-login .am-header {
    display: %login_header_display%;
}

.am-page-login .am-auth-form legend {
    background: %login_legend_bg%;
    padding-top: %login_legend_padding_top%;
}

.am-page-login .am-auth-form div.am-row {
    background: #141414;
}

.am-auth-form form {
    border: none;
    overflow: hidden;
    box-shadow: 0px 0px 5px #eee;
    box-shadow: 0px 0px 5px #00000022;
}

.am-auth-form form legend {
    border: none;
    background: #f9f9f9;
    padding: 1em 1em 1.5em;
}

.am-auth-form div.am-row div.element,
.am-auth-form div.am-row div.am-element-title {
    padding-right: 2em;
    padding-left: 2em;
}

@media all and (min-width:500px) {

    .am-auth-form div.am-row div.am-element-title {
        padding-right: .5em;
    }
    .am-auth-form div.am-row div.am-element {
        padding-left: .5em;
    }
}

.am-popup {
    border-color: #000000;
}

.am-popup .am-popup-header {
    background: #000000;
    color: #9f9f9f;
}

.am-popup .am-popup-close-icon:after {
    color: #9f9f9f;
}

.am-fb-login-button-wrapper.am-fb-login-form-after:before,
.am-fb-login-button-wrapper.am-fb-login-form-before:after {
    background: %color%;
}

.am-signup-link {
    color: #9f9f9f;
}

.am-login-layout-with-sidebar {
    max-width: 800px;
    margin: 2em auto 0;
}

.am-login-layout-with-sidebar .am-login-form-wrapper,
.am-login-layout-with-sidebar .am-sendpass-form-wrapper {
    margin-top: 0;
}

.am-signup-link {
    max-width: 450px;
    margin: 1em auto 0;
}

@media all and (min-width: 800px) {
    .am-login-layout-with-sidebar .am-login-layout-with-sidebar_form {
        float: left;
        width: 65%;
    }
    .am-login-layout-with-sidebar .am-login-layout-with-sidebar_sidebar {
        display: block;
        width: 35%;
        float: right;
        padding-left: 20px;
        box-sizing: border-box;
    }
    .am-login-layout-with-sidebar .am-auth-form {
        margin: 0;
    }
    .am-login-layout-with-sidebar .am-signup-link {
        margin: 1em 0 0;
    }
}
.am-login-layout-with-sidebar .am-login-layout-with-sidebar_sidebar {
    border-radius: 3px;
    padding: 1em 2em;
    max-width: 450px;
    box-sizing: border-box;
    box-shadow: 0px 0px 5px #00000022;
    background: #141414;
    color: #9f9f9f;
}
.am-login-layout-with-sidebar_clear {
    clear: both;
}

@media all and (max-width: 799px) {
    .am-login-layout-with-sidebar .am-login-layout-with-sidebar_sidebar {
        margin: 2em auto 0;
    }
}

ul.am-tabs li.active,
ul.am-tabs li.normal:hover {
    background: %menu_color%;
}

ul.am-tabs li.active > a,
ul.am-tabs li.normal > a:hover {
    border-color: %menu_color%;
}

ul.am-tabs .has-children ul {
    background: #141414;
    border: 1px solid #222;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.3),0 2px 3px 0 rgba(0,0,0,0.26),0 1px 4px 0 rgba(0,0,0,0.4);
}

ul.am-tabs {
    background: #141414;
    border: 1px solid #222;
}
ul.am-tabs > li {
    background: #141414;
}

ul.am-tabs a {
    border-right: 1px solid #222;
    color: white;
}

@media all and (max-width:500px) {
    .am-account-toolbar .am-account-toolbar-items {
        background: #141414;
    }
}

.am-active-invoice {
    border: 1px solid #222;
}

.am-page-login-no-label .am-auth-form,
.am-page-login-no-label .am-signup-link {
    max-width:350px;
}

.am-page-login-no-label .am-auth-form div.am-row div.am-element-title {
    display: none;
}

.am-page-login-no-label .am-auth-form div.am-row div.am-element {
    margin:0;
    padding:.6em 2em;
}

.am-page-login-no-label .am-auth-form div.am-row div.am-element input[type=submit],
.am-page-login-no-label .am-auth-form div.am-row div.am-element input[type=submit]:active,
.am-page-login-no-label .am-auth-form div.am-row div.am-element input[type=submit]:hover,
.am-page-login-no-label .am-auth-form div.am-row div.am-element input[type=submit]:disabled {
    width: 100%;
}

.am-page-login-no-label .am-auth-form .am-form-login-switch-wrapper {
    text-align: center;
    display: block;
    padding: 1.2em 2em .6em;
}

.am-page-login-no-label .am-auth-form .am-form-login-switch-wrapper  .am-form-login-switch {
    margin:0;
}

@media all and (max-width: 799px) {
    .am-page-login-no-label .am-login-layout-with-sidebar .am-login-layout-with-sidebar_sidebar {
        max-width:350px;
        margin: 2em auto 0;
    }
}

.am-credits {
    color: white;
}

.am-form form {
    background:#141414;
    border-color: #222;
}

.am-form-container .am-form-sidebar-sidebar {
    background:#141414;
    border: 1px solid #222;
    box-shadow: none;
}

.am-form fieldset legend {
    background: none;
    border-bottom: 1px solid #353535;
}

.am-body-content input,
.am-body-content textarea,
.am-body-content select,
.am-body-content button,
.am-popup input,
.am-popup textarea,
.am-popup select,
.am-popup button {
    font-family: '%font_family%', san-serif;
}

.am-body-content a.button,
.am-body-content button,
.am-body-content input[type="button"],
.am-body-content input[type="submit"],
.am-popup a.button,
.am-popup button,
.am-popup input[type="button"],
.am-popup input[type="submit"],
.am-body-content a.button:hover,
.am-body-content button:hover,
.am-body-content input[type="button"]:hover,
.am-body-content input[type="submit"]:hover,
.am-popup a.button:hover,
.am-popup button:hover,
.am-popup input[type="button"]:hover,
.am-popup input[type="submit"]:hover {
    color: white;
    background: %btn_color%;
    border-radius: 50px;
    border-color: %btn_color%;
}

.upload-control .upload-control-upload.upload-control-upload-single {
    border-radius: 50px;
    color: white;
    background: %btn_color%;
    border: none;
    text-shadow: none;
}

.input-file,
.input-file.hover {
    border: none;
    border-radius: 3px;
    background: #353535;
}

.input-file .input-file-button,
.input-file.hover .input-file-button {
    border-radius: 0 3px 3px 0;
    color: white;
    background: %btn_color%;
    border: none;
    text-shadow: none;
}

.am-cta-signup {
    font-size: 1.2rem;
    padding: 0.5em 2.5em;
}

.am-pass-indicator-bar {
    background: #9f9f9f;
}

.am-form input[type=radio] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0 .2em 0 0;
    width: 1em;
    height: 1em;
    border: 1px solid #353535;
    background-color: #141414;
    outline: 0;
    font-size: inherit;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 50%;
    vertical-align: middle;
    box-sizing: border-box;
}
.am-form input[type=radio]:checked {
    border-color: %btn_color%; /*#0079d1;*/
    border-width: .3em;
    background-color: #fff;
}

.am-form input[type=checkbox] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0 .2em 0 0;
    width: 1em;
    height: 1em;
    border: 1px solid #353535;
    background-color: #141414;
    outline: 0;
    font-size: inherit;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 3px;
    vertical-align: middle;
    box-sizing: border-box;
}
.am-form input[type=checkbox]:checked {
    background-color: %btn_color%;
    border-color: %btn_color%;
    background-image: url('%img_checkmark_path%');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.am-body-content select,
.am-body-content textarea,
.am-body-content input[type="text"],
.am-body-content input[type="password"],
.am-popup select,
.am-popup textarea,
.am-popup input[type="text"],
.am-popup input[type="password"] {
    color: #b9b9b9;
    border: none;
    background-color: #353535;
}

.am-body-content textarea::placeholder,
.am-body-content input[type="text"]::placeholder,
.am-body-content input[type="password"]::placeholder,
.am-popup textarea::placeholder,
.am-popup input[type="text"]::placeholder,
.am-popup input[type="password"]::placeholder {
    opacity: .25;
}

.am-body-content textarea:focus,
.am-body-content input[type="text"]:focus,
.am-body-content input[type="password"]:focus,
.am-body-content select:focus,
.am-popup textarea:focus,
.am-popup input[type="text"]:focus,
.am-popup input[type="password"]:focus,
.am-popup select:focus {
    box-shadow: 0 0 4px #000 !important;
    border: none;
    background-color: #353535;
}

.am-popup {
    background-color:#141414;
}

.am-popup .am-form form {
    background: none;
}

.am-block {
    background:#141414;
    border-color: #222;
    box-shadow: none;
}

.am-layout-two-coll .am-layout-two-coll-top,
.am-layout-two-coll .am-layout-two-coll-bottom {
    display:none;
}

.am-layout-two-coll {
    background: none;
    box-shadow: none;
    border: none;
    overflow: hidden;
    margin-top:2em;
}

.am-layout-two-coll .am-coll-left .am-coll-content,
.am-layout-two-coll .am-coll-right .am-coll-content  {
    margin: 0;
}

@media all and (min-width:750px) {
    .am-layout-two-coll .am-coll-left .am-coll-content {
        margin: 0 1em 0 0;
    }

    .am-layout-two-coll .am-coll-right .am-coll-content {
        margin: 0 0 0 1em;
    }
}

.am-grid-container {
    box-shadow: none;
    border: 1px solid #222;
}
.am-grid th,
.am-grid th:last-child {
    background: #141414;
    border: none;
}

.am-grid th,
.am-grid th a {
    color: #555960;
}

.am-grid th a.sorted-asc,
.am-grid th a.sorted-desc {
    color: #555960;
}

.am-grid tr.am-grid-row > td {
    background: #222;
}
.am-grid tr.am-grid-row.odd td {
    background-color: #1d1d1d;
}

.am-input-filter-wrapper {
    border: 1px solid #222;
}
.am-input-filter-wrapper.am-input-filter-wrapper_focus {
    box-shadow: 0 0 4px #00000022;
    background: #222;
}
.am-input-filter-wrapper .am-input-filter-inner-wrapper {
    background-color: transparent;
}

.am-input-filter-wrapper input[type=text].am-input-filter:focus {
    box-shadow: none!important;
    background-color: transparent;
    color:white;
}

.am-tabs-narrow-dashboard::before,
.am-tabs-narrow-switch::before,
.am-lang-choice .am-lang-val-code {
    color: #9f9f9f;
}

div.am-errors ul, ul.am-error, ul.am-errors {
    background: none;
    border: none;
    border-radius: 0;
}

.am-receipt {
    box-shadow: none;
    border: 1px solid #222;
    background: #141414;
}
.am-receipt td {
    background: none;
    border: none;
}
.am-receipt td.am-receipt-total {
    background: none;
}

.am-invoice-summary .am-invoice-summary-item {
    border-bottom: 1px solid #222;
}

.am-body-content input[type="button"]:disabled,
.am-body-content input[type="submit"]:disabled,
.am-popup input[type="button"]:disabled,
.am-popup input[type="submit"]:disabled {
    border: none;
    color: #40494f;
    background: #202b33;
}

.am-flash-content-lock {
    background-color: #7c7c7c;
    color: black;
    border: none;
}
.am-flash-mask {
    background: #222;
}


.am-form .StripeElement {
    box-sizing: border-box;
    padding: .5em .75em;
    border: none;
    border-radius: 3px;
    background-color: #d7d7d7;
}

.am-form .StripeElement--focus {
    background-color: #d7d7d7;
    box-shadow: 0 0 4px #000 !important;
}


.am-invoice-summary .am-invoice-summary-item-num {
    color: #9f9f9f;
}

.am-invoice-summary {
    box-shadow: none;
    background: #141414;
    border: 1px solid #222;
}

.am-common hr,
.am-invoice-summary tr.am-invoice-summary-delimeter hr {
    background: #222;
}

.am-block-nodata {
    background: #141414;
}

/* Helpdesk */

.am-helpdesk-message.am-helpdesk-message-outbound {
    background: none;
}
.am-helpdesk-message {
    box-shadow: none;
    border: #222 1px solid;
}
.am-helpdesk-ticket-actions-container {
    border: #222 1px solid;
}
.am-helpdesk-reply-panel {
    background: #222;
}
.am-helpdesk-ticket-action.am-helpdesk-action-active {
    background-color: #222;
}
.am-helpdesk-reply-panel-content .am-form div.am-row.am-no-label .am-element textarea:focus {
    background: #353535;
    box-shadow: none !important;
}

.am-helpdesk-message.am-helpdesk-message-inbound {
    background: #141414;
}

/* Affiliate */
.am-aff-banner-preview {
    box-shadow: none;
    background: #141414;
    border: 1px solid #222;
}
.am-copy-to-clipboard-highlight {
    background: #353535;
}

.am-aff-banner-preview-info textarea,
.am-aff-banner-preview-info textarea:focus {
    border-radius: 0;
    box-shadow: none;
    background: #353535;
    color: white;
}

/* Shopping Cart */

.am-cart .am-cart-product .am-cart-product-content-details .am-cart-product-content-desc .am-cart-product-content-desc-img-wrapper {
    background: #1f1f1f;
}

.am-cart .am-cart-product .am-cart-product-content-terms {
    font-weight: normal;
}

.am-cart .am-cart-product.am-cart-product-brief,
.am-cart .am-cart-product.am-cart-product-brief:hover {
    box-shadow: none!important;
    border: solid 1px #222;
    background: #141414;
}
.am-cart .am-cart-product .am-cart-product-content-add-container {
    background: #1f1f1f;
}

.am-cart .am-cart-product .am-cart-product-content-buttons input,
.am-cart .am-cart-product .am-cart-product-content-buttons input:hover,
.am-cart .am-cart-product .am-cart-product-content-buttons input:active {
    font-size: 1rem;
    border-radius: 3px;
    padding: 0.4em 0.5em;
}

#cart-basket {
    background-color: #141414;
    border-color: #222;
}

.am-basket .am-basket-img {
    border: 1px solid #9f9f9f;
}

.am-basket-preview-item {
    color: inherit;
}
.am-common .am-basket-preview-item-remove a {
    color: inherit;
}

.am-basket .am-basket-row-head {
    border-bottom: 2px solid #222;
}

.am-basket .am-basket-row {
    border-bottom: 1px solid #222;
}

.am-cart-qty-el {
    border: 1px solid %btn_color%;
}

.am-body-content .am-cart-qty-el input[type="text"].am-cart-qty-el-val:focus {
    box-shadow: none !important;
}

.am-cart-checkout .am-cart-checkout-paysys {
    border-top: #222 solid 1px;
}

.am-cart-checkout .am-cart-checkout-paysys .am-cart-checkout-paysys-item {
    border-bottom: #222 solid 1px;
}

.am-cart-checkout .am-cart-checkout-c {
    border-bottom: #222 solid 1px;
}

.am-cart-checkout .am-cart-checkout-paysys div.active {
    background-color: #141414;
    border-left: #222 solid 1px;
    border-right: #222 solid 1px;
}

.am-cart-checkout .am-cart-checkout-paysys div:hover {
    background-color: #141414;
}

/* Self Service */

.am-ss-product:hover {
    box-shadow: none;
    border: solid 1px #222;
}

.am-ss-product {
    box-shadow: none;
    border: solid 1px #222;
    background: #141414;
}

.am-ss-product-add-container {
    background: #1f1f1f;
}